---
layout: page
title: Category
---

<div class="container">
{% for category in site.categories %}
    {%- assign cate_name = category[0] -%}
    <div class="category-group">
        <h2 class="category-name">{{ cate_name }}</h2>
        <ul class="posts">
            {%- for post in site.categories[cate_name] -%}
            <li>
              <div class="post">
                <h1 class="post-title">
                  <a href="{{ site.url }}/{{ post.url }}">
                    {{ post.title }}
                  </a>
                </h1>
                <span class="post-date">{{ post.date | date_to_string }}</span>
                <div class="message"> 
                {%- if site.show_excerpts -%}
                    {{ post.excerpt | html_strip | truncatewords: 20 }}
                {%- endif -%}
                </div>
              </div>
              </li>
            {%- endfor -%}
        </ul>
        <hr>
    </div>
{%- endfor -%}
</div>
